*{
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    width: 500px;
    padding: 10px;
    margin: 30px auto;
    background-color: #eaeaea;
    .container{
        flex: auto;
        padding: 5px;
        margin: 10px;
        background-color: #fff;
        }
}
.hu{
padding: 5px;
margin: 5px;
}
    .hu-tei{
        background-color: pink;
    }
    .agari{
        background-color: #f0e68c;
    }
    .mentsu{
        background-color: lightsalmon;
    }
    .kantsu{
        background-color: darkseagreen;
    }
    .atama{
        background-color: #90ee90;
    }
    .mati{
        background-color: skyblue;
    }
.total{
    position: fixed;
    top:100px;
    right: 100px;
    padding: 15px;
    border-radius: 3px;
    background-color:#90ee90;
    span{
        font-weight: bold;
        font-size: 2em;
    }
}